<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684094105021-ea51rubosj5ccpv7o6o3ko57nkfaes3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684094105021-ea51rubosj5ccpv7o6o3ko57nkfaes3r</string>
	<key>API_KEY</key>
	<string>AIzaSyAu4D61d3raL08f1-pIs57YiKgKuS66nKo</string>
	<key>GCM_SENDER_ID</key>
	<string>684094105021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.subodhmahajan.Calender</string>
	<key>PROJECT_ID</key>
	<string>calender-425009</string>
	<key>STORAGE_BUCKET</key>
	<string>calender-425009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684094105021:ios:172e6475b57d2fccb41ed4</string>
</dict>
</plist>